In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [19]:
def data(row):
    uni_recomm = {
        "Uni_code": [f"Uniid_{i+1}" for i in range(row)],
        "Uni_name": [f"University_{i+1}" for i in range(row)],
        "Branch": [np.random.choice(["Computer science engineering", "Mechanical engineering", "Electronic", "communication engineering", "Electrical engineering", "Civil engineering", "BCom", "BCA (IT and Software)", "BBA LLB", "Chartered Accountancy (CA)", "BBA/BMS", "Company Secretary (CS)", "BA in Humanities & Social Sciences", "BA in Arts (Fine/ Visual/ Performing)", "Bachelor of Fine Arts (BFA)", "BDes in Animation", "BA LLB", "BDes in Design", "BSc in Hospitality & Travel", "BSc in Design"]) for i in range(row)],
        "has_placement_cell": [np.random.choice([1,0]) for i in range(row)],
        "has_hostel": [np.random.choice([1,0]) for i in range(row)],
        "has_IEEE": [np.random.choice([1,0]) for i in range(row)],
        "has_sports_club": [np.random.choice([1,0]) for i in range(row)],
        "has_NCC": [np.random.choice([1,0]) for i in range(row)],
        "last_year_cutoff": [np.random.randint(600, 1000) for i in range(row)],
        "Score": [np.random.randint(500, 1000) for i in range(row)],
        "selection": []
    }
    for i in range(row):
        if uni_recomm["Score"][i] >= 600:
            uni_recomm["selection"].append(1)
        else:
            uni_recomm["selection"].append(0)
    uni_recomm_df = pd.DataFrame(uni_recomm)
    # uni_recomm_df.to_csv("uni_recomm.csv", index=False)
    return uni_recomm_df

uni_df = data(350)
uni_df

,Uni_code,Uni_name,Branch,has_placement_cell,has_hostel,has_IEEE,has_sports_club,has_NCC,last_year_cutoff,Score,selection
0,Uniid_1,University_1,Civil engineering,0,0,0,0,0,812,809,1
1,Uniid_2,University_2,BDes in Design,0,1,0,0,1,867,630,1
2,Uniid_3,University_3,BBA/BMS,1,1,1,1,0,889,808,1
3,Uniid_4,University_4,communication engineering,0,1,1,1,0,746,546,0
4,Uniid_5,University_5,Electrical engineering,0,1,1,0,1,980,810,1
...,...,...,...,...,...,...,...,...,...,...,...
345,Uniid_346,University_346,Computer science engineering,0,1,0,0,0,849,948,1
346,Uniid_347,University_347,BSc in Hospitality & Travel,1,0,0,1,0,739,962,1
347,Uniid_348,University_348,Bachelor of Fine Arts (BFA),1,1,0,0,0,699,890,1
348,Uniid_349,University_349,BA in Humanities & Social Sciences,0,1,1,1,0,738,996,1
349,Uniid_350,University_350,BBA/BMS,0,1,0,0,0,976,924,1

In [12]:
uni_df.columns

Index(['Uni_code', 'Uni_name', 'Branch', 'has_placement_cell', 'has_hostel',
       'has_IEEE', 'has_sports_club', 'has_NCC', 'last_year_cutoff', 'Score',
       'selection'],
      dtype='object')

In [13]:
uni_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Uni_code            250 non-null    object
 1   Uni_name            250 non-null    object
 2   Branch              250 non-null    object
 3   has_placement_cell  250 non-null    int64
 4   has_hostel          250 non-null    int64
 5   has_IEEE            250 non-null    int64
 6   has_sports_club     250 non-null    int64
 7   has_NCC             250 non-null    int64
 8   last_year_cutoff    250 non-null    int64
 9   Score               250 non-null    int64
 10  selection           250 non-null    int64
dtypes: int64(8), object(3)
memory usage: 21.6+ KB

the average of university's last year cutoff

In [14]:
cutoff = uni_df.last_year_cutoff.mean()
cutof

802.34

In [15]:
score=uni_df.Score.mean()
score

741.308

In [16]:
scoretocutoffratio = (score/cutoff)*100
print(scoretocutoffratio,"%")

92.39324974449734 %

In [17]:
uni_df.Branch.value_counts()

BDes in Design                           17
BSc in Design                            17
BA LLB                                   16
Electronic                               15
BCom                                     14
Company Secretary (CS)                   14
Computer science engineering             14
Civil engineering                        13
BA in Arts (Fine/ Visual/ Performing)    13
Mechanical engineering                   12
BA in Humanities & Social Sciences       12
communication engineering                12
Bachelor of Fine Arts (BFA)              11
BBA LLB                                  11
Chartered Accountancy (CA)               11
BCA (IT and Software)                    11
BSc in Hospitality & Travel              10
Electrical engineering                   10
BBA/BMS                                   9
BDes in Animation                         8
Name: Branch, dtype: int64

In [18]:
uni_df[(uni_df["Branch"] == "BDes in Animation")].selection.value_counts()

1    6
0    2
Name: selection, dtype: int64